venv/
env/
.venv/

.env
*.env

__pycache__/
*.pyc
*.pyo
*.pyd

*.ts
*.pt
*.pth
*.onnx
*.bin

data/
results/
weights/
hf_cache/

# Frontend
node_modules/
dist/


.git/
.DS_Store
.vscode/
.idea/
Thumbs.db