venv/
env/
.venv/

.env
*.env
api/.env
api/docs/*.pdf
api/docs/*.docx

/data/
/results/
/weights/
/hf_cache/

/evaluation/data/
/evaluation/results/
/evaluation/weights/
/evaluation/hf_cache/

*.ts
*.pt
*.pth
*.onnx

__pycache__/
*.pyc
.pytest_cache/
.vscode/
.idea/
.DS_Store
Thumbs.db

node_modules/
dist/